# Version
VERSION=1.0.0

# -----Configuration-----
CONFIG=development
ENV=development
OLLAMA_DOCKER_PORT=11434

# -----Embedding Model-----
EMBEDDING_MODEL=nomic-embed-text
EMBEDDING_LOCAL_PORT=8001 # for local development

# for local environment:
# EMBEDDING_URL=http://localhost:8001
# for docker environment:
EMBEDDING_URL=http://ollama-nomic-embed-text:${OLLAMA_DOCKER_PORT}


# -----Generation Model-----
GENERATION_MODEL=qwen2.5:3b
GENERATION_LOCAL_PORT=8002 # for local development

# for local environment:
# GENERATION_URL=http://localhost:8002
# for docker environment:
GENERATION_URL=http://ollama-qwen:${OLLAMA_DOCKER_PORT}

# -----pgvector credentials-----
POSTGRES_PORT_LOCAL=5433 # the local port for the postgres database, use this if you are running the another application locally on port 5432 that uses the postgres database
POSTGRES_PORT_DOCKER=5432 # the docker port for the postgres database
# # for docker environment, use this by uncommenting the following lines:
POSTGRES_USER=rag
POSTGRES_PASSWORD=rag
POSTGRES_DB=rag
POSTGRES_PORT=5432
POSTGRES_HOST=pgvector-db

# # for local development, use this by uncommenting the following line:
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=oyewunmi10
# POSTGRES_DB=rag
# POSTGRES_PORT=5432
# POSTGRES_HOST=localhost

# # -----pgadmin credentials-----
# PGADMIN_DEFAULT_EMAIL=admin@admin.com
# PGADMIN_DEFAULT_PASSWORD=adminpassword
